body {
	margin: 0;
	color: black;
}

h1 {
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	margin: 15px 0 10px;
}

h3 {
  text-align: center;
	font-size: 32px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 30px;
}

p {
	font-size: 20px;
	font-weight: 100;
	margin: 0;
}

@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}
	p {
		font-size: 18px;
	}
	h2 {
		font-size: 20px;
		margin: 15px 0 10px;
	}
	h3 {
		font-size: 24px;
	}
}

.separator {
	width: 50%;
	margin: auto;
	color: $red;
	height: 2px;
	border-bottom: 1px solid $grey-light;
}

#nav {
	border-bottom: 1px solid $grey-light;
	background: transparent;
	height: 100px;
	@media (max-width: 425px) {
		display: none;
	}
	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 700px;
		width: 90%;
		margin: auto;
		padding: 20px 0;
		.logo {
			display: flex;
			align-items: center;
			img {
				margin-right: 10px;
				width: 50px;
				height: 50px;
			}
			p {
				font-weight: 900;
				color: white;
			}
		}
		.nav-links {
			font-weight: 900;
			font-size: 20px;
			a {
				margin-left: 20px;
				color: white;
				text-decoration: none;
				&:hover {
					color: $yellow;
				}
			}
		}
	}
}

#intro {
	width: 100vw;
	height: 100vh;
	margin-top: -100px;
	background-image: linear-gradient(to top, $azur 0%, $blue 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  @media (max-width: 425px) {
    margin-top: -20px;
  }
	h1 {
		font-weight: 900;
		font-size: 48px;
		color: white;
		box-shadow: inset 0 -15px 0 $yellow;
		@media (max-width: 900px) {
		  font-size: 40px;
		}
		@media (max-width: 768px) {
		  font-size: 32px;
		}
		@media (max-width: 580px) {
		  box-shadow: none;
		  margin: 0 20px;
		}
  }
  .intro-logo {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    @media (min-width: 426px) {
      display: none;
    }
  }
  .social-icons {
  	position: relative;
  	top: 10vh;
  	width: 50%;
  	display: flex;
  	align-items: flex-end;
  	justify-content: space-around;
  	img {
  		width: 80px;
	  	@media (max-width: 768px) {
	  	  width: 50px;
	  	}
  	}
  }
}

#description {
	padding: 80px 0 50px;	
	text-align: center;
	p {
		width: 90%;
		max-width: 800px;
		margin: auto;
	}
}

#domains {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-between;
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 80px 0;
	.domain-single {
		width: 20%;
		margin: 20px auto;
		@media (max-width: 992px) {
		  width: 40%;
		}
		@media (max-width: 600px) {
		  width: 90%;
		}
		h2 {
			color: $blue;
			font-weight: 900;
		}
		img {
			width: 100px;
		}
	}
}

#figures {
	padding: 80px 0px;
	background: $grey-light;
	h2 {
		text-align: center;
		font-size: 36px;
		font-weight: 900;
		margin-bottom: 50px;
	}
	.figure-single {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
		width: 70%;
		margin: 40px auto;
		@media (max-width: 768px) {
			width: 100%;
		}
		p {
			width: 40%;
			margin: 0 30px;
			span {
				font-size: 32px;
				font-weight: 900;
				color: $red;
			}
		}
		img {
			width: 130px;
		}
	}
}

#expertise {
	text-align: center;
	.expertise-intro {	
		padding: 80px 0;
		width: 70%;
		margin: auto;
		@media (max-width: 768px) {
			width: 80%;
		}
		h2 {
			font-size: 36px;
			font-weight: 900;
			margin-bottom: 50px;
		}
	}
	.expertise-grid {
		.expertise-single {
			position: relative;
			width: 33.33%;
			width: calc(100% / 3);
			@media (max-width: 768px) {
				width: 50%;
			}
			@media (max-width: 425px) {
				width: 100%;
			}
			p {
				visibility: hidden;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				color: white;
				background: rgba(0, 0, 0, 0.7);
				font-size: 36px;
				text-transform: capitalize;
			}
			img {
				width: 100%;
			}
			&:hover, &:active, &:focus {
				p {					
					visibility: visible;
				}
			}
		}
	}
}

#footer {
	background-image: linear-gradient(to top, $azur 0%, $blue 100%);
	padding: 50px 0px 20px;
	h3 {
		color: white;
    margin-bottom: 30px;
    font-weight: 900;
		span {
			color: $yellow;
		}
	}
	.form {
		max-width: 500px;
		text-align: center;
		margin: auto;
		.form-input {
			width: 80%;
			background: white;
			border: none;
			border-radius: 3px;
			margin: auto;
			margin-top: 6px;
			font-size: 18px;
			&::-webkit-input-placeholder {
			  color: $grey-more;
			}
			&::-moz-placeholder {
			  color: $grey-more;
			}
		}
		input {
			height: 50px;
			padding: 0 10px;
		}
		textarea {
			height: 150px;
			padding: 10px;
		}
		button {
			background: $yellow;
			border: 1px solid $yellow;
			color: white;
			width: 80%;
			margin: auto;
			font-weight: 900;
			font-size: 18px;
			padding: 5px;
			border-radius: 3px;
			height: 50px;
      &:hover {
        background: darken($yellow, 3%)
      }
		}
	}
  .copyrights {
    color: white;
    text-align: center;
    font-weight: 100;
    margin-top: 50px;
    a {
      color: $green;
      text-decoration: none;
      &:hover {
        color: darken($green, 10%)
      }
    }
  }
}
